*{
    padding: 0;
    margin: 0;
}
header{
    background-color: brown;
    height: 80px;
    width: 100%;
    position: fixed;
}
header ul{
    position: absolute;
    right: 10vw;
    top: 0;
    line-height: 80px;
}
h1{
    color: aliceblue;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
}
header li{
    display: inline;
    margine: right 4vw;
}
header a{
    color: black;
    text-decoration: none;
}
header a:hover{
    text-decoration:underline;
}
.zhuyao{
    background-color:white ;
    display: flex;
}
.jieshao img{
    width:50%;
    height: 50%;
}
.jieshao{
    display: flex;
}
.info{
    width:50%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.dianying img{
    width:50%;
    height: 50%;
}
.dianying{
    display: flex;
}
.int{
    width:50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.int h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.menu{
    display: none;
}
/* 响应式设计语法 */
@media screen and (max-width: 768px) {
    header ul {
        display:none;
    }
    header h1{
        left:50%;
        transform: translateX(-50%);
    }
    .zhuyao{
        font-size: 40px;
    }
    .menu{
        display: block;
        background-color: rgb(red, green, blue);
        font-size: 35px;
        position:absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor: pointer;
    }
}